@import '../../src/css/front/modules/variables.css';

.wp-block-ws-breadcrumbs {
  a {
    @include subhead;
    text-decoration: none;
    color: inherit;
  }
  svg {
    display: inline-block;
    width: 12px;
    height: 12px;
  }
  .separator {
    margin: 0 5px;
    font-weight: $bold;
  }
}
