/*
* Generals
*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: $text-color;
  overflow-x: hidden;
  background-color: $light-gray;
  &.no-transitions * {
    transition: none !important;
  }
}

div, a, section, header, footer {
  background-size: cover;
  background-position: center;
}

div {
  font-family: $font;
  font-size: 15px;
  font-weight: $normal;
}

:focus {
  outline-color: $lake;
}

p, a, li, input, label, legend, button, select, td, figcaption, blockquote, pre, small {
  @include text;
}

h1, .h1 {
  @include h(1);
}

h2, .h2 {
  @include h(2);
}

h3, .h3 {
  @include h(3);
}

h4, .h4 {
  @include h(4);
}

h5, .h5 {
  @include h(5);
}

h6, .h6 {
  @include h(6);
}

p {
  margin: 0 0 $default-margin;
}

a, .a {
  color: $moss;
  font-weight: $bold;
  transition: 0.3s ease-in-out;
  &:hover, &:focus {
    color: $moss;
  }
  .has-white-color & {
    color: #fff;
  }
}

b, strong {
  font-weight: $bold;
}

i, em {
  font-style: italic;
}

small, .small {
  @include small;
}

ul {
  list-style: disc;
  margin: 0 0 $default-margin 30px;
}

ol {
  list-style: decimal;
  margin: 0 0 $default-margin 30px;
}

li {
  + li {
    margin: calc($default-margin / 4) 0 0;
  }
  ul, ol {
    margin-top: $default-margin;
  }
}

form {
  margin: 0 0 $default-margin;
}

label {
  margin: 0;
  opacity: 0.7;
  font-size: 14px;
}

input[type=text], input[type=email], input[type=tel], input[type=search], select, .listbox > button, textarea {
  @include input;
}

input[type="checkbox"], input[type="radio"] {
  width: auto;
  margin: 4px 10px 0 0;
}

input[type="color"] {
  width: auto;
  min-width: 50px;
  padding: 0;
  border: 1px solid $border-color;
}

input::placeholder, textarea::placeholder, select.empty {
  line-height: 1.5rem;
  color: $text-color-light;
}

button, input[type=button], input[type=submit], .button, .wp-block-button > .wp-block-button__link {
  @include button;
}

.button-outline, .wp-block-button.is-style-outline > .wp-block-button__link {
  @include button-outline;
}

.button-simple, .wp-block-button.is-style-simple > .wp-block-button__link {
  @include button-simple;
}

.button-arrow, .wp-block-button.is-style-arrow > .wp-block-button__link {
  @include button-arrow;
}

.button-arrow-back {
  @include button-arrow-back;
}

select, .listbox > button {
  @include select;
}

.listbox {
  display: inline-block;
  position: relative;
  button {
    text-align: left;
  }
  ul {
    list-style: none;
    margin: 0;
    position: absolute;
    z-index: 5;
    top: calc(100% - $default-margin);
    display: none;
    background: #fff;
    box-shadow: $shadow;
    min-width: 100%;
    padding: 20px 0;
    border-radius: $border-radius;
    outline: none;
    max-height: 280px;
    overflow-y: scroll;
  }
  li {
    padding: 2.5px 20px;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    &:hover, &:focus {
      color: $lake;
    }
    &.selected {
      color: $lake;
      font-weight: $normal;
    }
  }
  &.open {
    ul {
      display: block;
    }
  }
}

fieldset {
  border: 1px solid $border-color;
  padding: 10px;
}

[disabled], .disabled {
  pointer-events: none;
  opacity: 0.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
  display: block;
}

table {
  width: 100%;
  margin: 0 0 $default-margin;
}

td, th {
  padding: 10px;
  border: 1px solid $border-color;
}

th {
  font-weight: $bold;
  border-bottom-width: 2px;
}

hr {
  @include hr;
}

blockquote {
  margin: 0 0 $default-margin;
}

pre {
  word-break: break-word;
  word-wrap: break-word;
  background: $gray;
  padding: 10px 15px;
}

figure {
  margin: 0 0 $default-margin 0;
}

figcaption {
  font-size: 12px;
  margin: 0;
}

svg {
  fill: currentColor;
  display: block;
  stroke-width: 0; /* Lottie animations */
}

iframe {
  width: 100%;
}

/*
* Helper Classes
*/
.card {
  @include card;
}

.card-link {
  position: relative;
  z-index: 0;
  a::before, button::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.card-row {
  margin-bottom: calc(-2 * $grid-padding + $default-margin);
  .card {
    margin-bottom: calc($grid-padding * 2);
    height: calc(100% - $grid-padding * 2);
  }
}

.tile-row {
  margin: 0 0 $default-margin;
  + * {
    margin-top: $default-margin;
  }
}

.square {
  @include ratio(100%);
}

video.no-fullscreen {
  &::-webkit-media-controls-fullscreen-button {
    display: none;
  }
}

.text-center, .centered {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-top: 0;
}

.no-scroll {
  overflow: hidden;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.screen-reader-text {
  @include screenreader;
}

.animate {
  opacity: 0;
}

.animate-up {
  transform: translateY(50px);
}

.animate-down {
  transform: translateY(-50px);
}

.animate-right {
  transform: translateX(-50px);
}

.animate-left {
  transform: translateX(50px);
}

.animation-done {
  opacity: 1;
  transform: none;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.no-overlay {
  &::after {
    display: none;
  }
}

.object-fit-container {
  height: 400px;
  position: relative;
  img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.subhead {
  @include subhead;
}

.parallax {
  position: relative;
}

.parallax-background {
  overflow: hidden;
  > * {
    position: relative;
    -webkit-backface-visibility: hidden; /* prevents shaking in some browsers */
  }
}
