@import '../../src/css/admin/modules/variables.css';

.ws-block-person {
  @at-root {
    .person-block {
      display: flex;
      align-items: center;
      img, .placeholder {
        flex: none;
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        margin-right: 10px;
        background: #aaa;
        font-size: 48px;
        text-align: center;
      }
      .components-media-selector {
        margin-right: 10px;
      }
      .info {
        font-weight: bolder;
        p {
          margin: 0;
        }
      }
    }
  }
}
